<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../static/theme.css">
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa fa-heart d-inline fa-lg"></i>
        <b>TigerCrush</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar16">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">FAQ</a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-light text-primary">Logout</a>
      </div>
    </div>
  </nav>
  <div class="text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="">
          <h1 class="text-primary"><b>Hello, [name]!</b></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-primary"><b>Your Crushes</b></h5>
              <p class="card-text">You have not added any crushes yet. Get started below!</p>
              <div class="table-responsive">
                <table class="table table-striped table-borderless border">
                  <tbody>
                    <tr class="text-center">
                      <td class="">[name]</td>
                    </tr>
                    <tr class="text-center">
                      <td class="">[name]</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <form class="form-inline w-100">
                <div class="input-group w-100">
                  <input type="text" class="form-control" placeholder="Search for people here...">
                  <div class="input-group-append"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#confirmModal">Add crush!</button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 py-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-primary"><b>Your Matches</b></h5>
              <p class="card-text">You have not been matched to one of your crushes yet :(</p>
              <div class="table-responsive">
                <table class="table table-striped table-borderless border">
                  <tbody>
                    <tr class="text-center">
                      <td>[name]</td>
                    </tr>
                    <tr class="text-center">
                      <td>[name]</td>
                    </tr>
                  </tbody>
                </table>
                <h5 class="card-title text-primary"><b>Your Secret Admirers</b></h5>
                <p class="card-text"><b class="text-primary">3</b> people whom you don't have a crush on have a crush on you!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">~ Please report suggestions, feedback, or bug reports to <a href="mailto:ajding@princeton.edu">ajding@princeton.edu</a> ~ </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="confirmModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-center">Are you sure you want to add [name] as a crush?</p>
          <p class="text-center">This action cannot be undone.</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Yes</button> <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>