<!-- Author: Alan Ding -->

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container"> <a class="navbar-brand" href="{{url_for('index')}}">
      <i class="fa fa-heart d-inline fa-lg"></i>
      <b>TigerCrush</b>
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar16">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="/about">About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/faq">FAQ</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/whitelist" target="_blank">Whitelist Us!</a> </li>
      </ul>
    </div>
  </div>
</nav>